body {
    background-color: #262a2f;
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
}

.container {

    background-color: white;
    width: 500px;
    height: 500px;
    border-radius: 10px;
    text-align: center;

}

h1 {
    display: inline-flex;
    color: white;
}